<div  id="register">
<div class="topbutton">
	<button class="backtfp" ng-click="goToFirstPage()"><i class="fa fa-angle-left"></i>返回首页</button>
	<button class="login" ng-click="goToLogin()"><i class="fa fa-user"></i>登录<i class="fa fa-angle-right"></i></button>
</div>

<div class="pagebody" >
<div class="logop">
    <img class="logo" src="src/images/logo.png"/>
</div>
<div class="registerform">
<form>
<ul class="userinfo">
	<li><input type="text" name="registername" placeholder="手机号或邮箱"/></li>
    <li class="errormessage" >sdsd</li>
</ul>
</form>
<button class="registerbtn" ng-click="register()">注册</button>
</div>

</div>